libicap.so
libicap.so.0
ic_test_cl
ic_test_raw
ic_test_chunked
ic_test_cl_req
*.o
*.d
*.lo
*.la
m4/l*
tags
libicap.pc
src/Makefile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile.in
src/config.h
src/config.h.*
src/stamp-h1
configure
src/.libs/
